$bodyBg: #F3F4FA;
$mainBg: #fff;
$txtColor: #737274;
$white: #fff;
$black: #000;
$primary: #232121;
$light_primary: #222020;
$secondary: #F14D39;
$tertiary: #FF507A;
$light_secondary: #ffbbcb;
$success: #017601;
$danger: #FF4848;
$shadow: #E7E8EA;
$warning: #FBD431;
$info: #F8F9FA;
$light: #F5F5F5;
$muted: #9ba0a45d;

$fontFamily: 'Poppins', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 300px;
$sideBarLogoHeight: 170px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
